html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* LIMIT CODE */
.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(D:\html_lesson_A07\undraw_online_test_gba7.svg);
  background-size: 50%;
  text-align: center;
}

.logo-wrapper {
background-size: 400px;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  color: #0fb9b1;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
  font-size: 20px;
  color: #778ca3;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 20px;
}

.btn:hover {
  opacity: 1;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 20px;
}

.twitter {
  background-color: #55acee;
}

.btn-wrapper {
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

header {
  height: 80px;
  width: 100%;
  background-color: rgba(15, 185, 177, 1);
  top: 0;
  z-index: 10;
}

.logo {
  margin-top: 20px;
  width: 124px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  margin-top: 25px;
}

.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
  line-height: 30px;
  padding: 0 25px;
  color: white;
  display: block; 
}

  
  .lesson-wrapper {
  height: 500px;
  padding-bottom: 80px;
  background-color: #fff;
  text-align: center;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
  font-size: 50px;
}

.background-logo {
  display: inline-block;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 90px;
  width: 100%;
  color: white;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 15px;
  color: #778ca3;
  font-size: 20px;
}

.heading h3 {
  font-weight: normal;
  font-size: 35px;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #2bcbba;
  cursor: pointer;
  box-shadow: 0 7px #0fb9b1;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 15px;
}

footer {
  padding-top: 30px;
  margin-bottom: 30px;
}
